# MacOS custom attributes files created by Finder
.DS_store
docs/_site/

# IDEA files
/.idea/
/out/
/*.iml

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
